<p id="notice"><%= notice %></p>

<p>
  <b>Stopid:</b>
  <%= @stop.stopid %>
</p>

<p>
  <b>Stopdcode:</b>
  <%= @stop.stopdcode %>
</p>

<p>
  <b>Stopname:</b>
  <%= @stop.stopname %>
</p>

<p>
  <b>Stoplat:</b>
  <%= @stop.stoplat %>
</p>

<p>
  <b>Stoplon:</b>
  <%= @stop.stoplon %>
</p>


<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
