<%= form_for @recoleccion, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :presonas_suben, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :presonas_suben, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :personas_bajan, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :personas_bajan, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :recorrido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :recorrido, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :patente, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :patente, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :puerta, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :puerta, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :periodo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :periodo, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :llegada_paradero, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :llegada_paradero, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :salida_paradero, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :salida_paradero, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recoleccions_path, :class => 'btn' %>
  </div>
<% end %>
