<%- model_class = Recoleccion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:presonas_suben) %></th>
      <th><%= model_class.human_attribute_name(:personas_bajan) %></th>
      <th><%= model_class.human_attribute_name(:long) %></th>
      <th><%= model_class.human_attribute_name(:lat) %></th>
      <th><%= model_class.human_attribute_name(:recorrido) %></th>
      <th><%= model_class.human_attribute_name(:patente) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:puerta) %></th>
      <th><%= model_class.human_attribute_name(:periodo) %></th>
      <th><%= model_class.human_attribute_name(:llegada_paradero) %></th>
      <th><%= model_class.human_attribute_name(:salida_paradero) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recoleccions.each do |recoleccion| %>
      <tr>
        <td><%= link_to recoleccion.id, recoleccion_path(recoleccion) %></td>
        <td><%= recoleccion.presonas_suben %></td>
        <td><%= recoleccion.personas_bajan %></td>
        <td><%= recoleccion.long %></td>
        <td><%= recoleccion.lat %></td>
        <td><%= recoleccion.recorrido %></td>
        <td><%= recoleccion.patente %></td>
        <td><%= recoleccion.nombre %></td>
        <td><%= recoleccion.puerta %></td>
        <td><%= recoleccion.periodo %></td>
        <td><%= recoleccion.llegada_paradero %></td>
        <td><%= recoleccion.salida_paradero %></td>
        <td><%=l recoleccion.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_recoleccion_path(recoleccion), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      recoleccion_path(recoleccion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recoleccion_path,
            :class => 'btn btn-primary' %>
